@mixin btn-style($bg-color, $text-color) {
  // different
  background-color: $bg-color;
  color: $text-color;

  // common
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
}

// response
@mixin respond-to($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
